 
/* start css.sty */
.ptmr7t-x-x-120{font-family: monospace,monospace;}
.ptmr7t-x-x-120{font-family: monospace,monospace;}
.ptmr7t-x-x-120{font-family: monospace,monospace;}
.ptmr7t-x-x-120{font-family: monospace,monospace;}
.ptmr7t-x-x-207{font-size:172%;font-family: monospace,monospace;}
.ptmr7t-x-x-207{font-family: monospace,monospace;}
.ptmr7t-x-x-207{font-family: monospace,monospace;}
.ptmr7t-x-x-207{font-family: monospace,monospace;}
.ptmr7t-x-x-144{font-size:120%;font-family: monospace,monospace;}
.ptmr7t-x-x-144{font-family: monospace,monospace;}
.ptmr7t-x-x-144{font-family: monospace,monospace;}
.ptmr7t-x-x-144{font-family: monospace,monospace;}
.ptmr7t-x-x-109{font-size:90%;font-family: monospace,monospace;}
.ptmr7t-x-x-109{font-family: monospace,monospace;}
.ptmr7t-x-x-109{font-family: monospace,monospace;}
.ptmr7t-x-x-109{font-family: monospace,monospace;}
.pcrr7t-x-x-109{font-size:90%; font-family: 'Nimbus Mono L', serif;}
.ptmr8c-x-x-144{font-size:120%;}
.phvb7t-x-x-120{font-family: sans-serif; font-weight: bold;}
.ptmri7t-x-x-120{font-style: italic;}
.ptmb7t-x-x-120{ font-weight: bold;}
.ptmri7t-x-x-109{font-size:90%;font-style: italic;}
.ptmri8c-x-x-109{font-size:90%;font-style: italic;}
p{margin-top:0;margin-bottom:0}
p.indent{text-indent:0;}
p + p{margin-top:1em;}
p + div, p + pre {margin-top:1em;}
div + p, pre + p {margin-top:1em;}
a { overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; hyphens: auto; }
@media print {div.crosslinks {visibility:hidden;}}
table.tabular{border-collapse: collapse; border-spacing: 0;}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
div.par-math-display, div.math-display{text-align:center;}
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p:first-child{ margin-bottom:0; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
div.newtheorem .head{font-weight: bold;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
pre.verbatim {font-family: monospace,monospace; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
code.verb{font-family:monospace,monospace;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.hline + .vspace:last-child{display:none;}
.hline:first-child{border-bottom:1px solid black;border-top:none;}
.tabbing-right {text-align:right;}
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar,.reversemarginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p,.reversemarginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.reversemarginpar{float:left;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.chapterToc a, .chapterToc, .likechapterToc a, .likechapterToc, .appendixToc a, .appendixToc {line-height: 200%; font-weight:bold;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.subsubsectionHead, .likesubsubsectionHead { font-size: 1em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
h1.partHead{text-align: center}
 .chapterToc, .likechapterToc {margin-left:0em;}
 .likesectionToc, .sectionToc {margin-left:1em;}
 .likesubsectionToc, .subsectionToc {margin-left:2em;}
 .likesubsectionToc, .subsectionToc {margin-left:2em;}
 .likesubsubsectionToc, .subsubsectionToc {margin-left:3em;}
.paragraphToc, .likeparagraphToc {margin-left:4em;}
.subparagraphToc, .likesubparagraphToc {margin-left:5em;}
.poemtitle, likepoemtitle {margin-left:2em; margin-bottom:0.5em;}
.skip-verseline {margin-top: 1em;}
.skip-verseline, .verseline {white-space: nowrap;}
.flagverse {float:right; font-size:85%; text-decoration:underline;}
.verse p{margin-bottom:0;}
.poemline {text-align:right; width:6em;}
.booknumber{display:block;}
div.abstract p {margin-left:5%; margin-right:5%;}
div.abstract {width:100%;}
.abstracttitle{text-align:center;margin-bottom:1em;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.hline + .vspace:last-child{display:none;}
.hline:first-child{border-bottom:1px solid black;border-top:none;}
div.array {text-align:center;}
div.verbatiminput {font-family: monospace,monospace; white-space: nowrap; }
.rotatebox{display: inline-block;}
.mdframed{margin-top:1em;margin-bottom:1em;}
#mdframed-1{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-2{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-3{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-4{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-5{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-6{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-7{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-8{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-9{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-10{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-11{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-12{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-13{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-14{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-15{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-16{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-17{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-18{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-19{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-20{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-21{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-22{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-23{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-24{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-25{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-26{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-27{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-28{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-29{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-30{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-31{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-32{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-33{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-34{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-35{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-36{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-37{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-38{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-39{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-40{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-41{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-42{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-43{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-44{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-45{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-46{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-47{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-48{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-49{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-50{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-51{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-52{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-53{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-54{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-55{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-56{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-57{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-58{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-59{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-60{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-61{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-62{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-63{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-64{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-65{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-66{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-67{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-68{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-69{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-70{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-71{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-72{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-73{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-74{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-75{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-76{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-77{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-78{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-79{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-80{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-81{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-82{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-83{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-84{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-85{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-86{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-87{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-88{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-89{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-90{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-91{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-92{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-93{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-94{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-95{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-96{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-97{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-98{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-99{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-100{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-101{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-102{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-103{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-104{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-105{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-106{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-107{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-108{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-109{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-110{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-111{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-112{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-113{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-114{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-115{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-116{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-117{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-118{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-119{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-120{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-121{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-122{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-123{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-124{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-125{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-126{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-127{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-128{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-129{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-130{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-131{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-132{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-133{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-134{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-135{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-136{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-137{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-138{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-139{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-140{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-141{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-142{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-143{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-144{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-145{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-146{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
#mdframed-147{border:1.0pt solid #8B4513; background-color: #FFFFFF; color:#000000;}
#mdframed-148{border:1.0pt solid #228B22; background-color: #F4F9F4; color:#000000;}
/* end css.sty */

